{% extends 'base.html' %}

{% block styles %}
<script src="static/scripts/paginate.js"></script>
{% endblock %}

{% block title %}
Завершенные матчи
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="finished_matches_table">
        <h1>Завершенные матчи</h1>
        <hr>
        <i>Фильтры</i>
        <div class="filters">
            <form name="filter-name" onsubmit="return saveFilterInLocalStorage()">
                <label>
                    Имя игрока:
                    <input type="text" id='filter_player' name='filter_by_player_name' placeholder="Имя игрока"/>
                </label>
                <label>
                    Количество записей:
                    <select name="per_page" id="page-select">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </label>
                <hr>
                <div>
                    <button class="set-filter" type="submit" onclick="setQueryStringInPageLink()">Применить</button>
                    <a href="/matches" onclick="clearLocalStorage()">Сбросить</a>
                </div>
            </form>
        </div>
        <thead>
        <hr>
        {% if data %}
        <tr>
            <th>UUID</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Winner</th>
        </tr>
        </thead>
        <tbody>
        {% for match in data %}
        <tr>
            <td><a href="/match-story={{ match.uuid }}">{{ match.uuid }}</a></td>
            <td>{{ match.player1_name }}</td>
            <td>{{ match.player2_name }}</td>
            <td>{{ match.winner }}</td>
        </tr>
        </tbody>
        {% endfor %}
        {% else %}
        Ничего не найдено :(
        {% endif %}
    </table>
    <hr>
    {{ pagination.info }}
    {{ pagination.links }}
</div>
{% endblock %}
