{% extends 'base.html' %}

{% block title %}
Теннисный матч
{% endblock %}

{% block content %}

<div class="tennis_scoreboard">
    <div class="scoreboard_row" id="row0">
        <div class="header_scoreboard" id="name"></div>
        <div class="header_scoreboard" id="match">Match</div>
        <div class="header_scoreboard" id="set">Set</div>
        <div class="header_scoreboard" id="game">Points</div>
    </div>
    {% for row_num in range(2) %}
    <div class="scoreboard_row" id="row{{ row_num + 1 }}">
        <input class="player_name" id="name{{ row_num + 1}}" type="text" value="Hofmhhe" disabled>
        <div class="match">
            <input id="match_player{{ row_num + 1}}" type="text" value="0" disabled>
        </div>
        <div class="set">
            <input id="set_player{{ row_num + 1}}" type="text" value="0" disabled>
        </div>
        <div class="game">
            <input id="game_player{{ row_num + 1}}" type="text" value="0" readonly>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

# TODO: сделать блоки через циклы, они все равно повторяются