{% extends 'layouts/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<form class="new_match_form" method="post" name="new_match_form" action="/new-match">
    <h1 class="title_form">Создание нового матча</h1>
    <div class="input_block">
        {% for player_id in range(2) %}
        <div class="block_player">
            <fieldset class="fieldset_player">
                <legend class="legend_name_player">Введите имя {{ player_id + 1 }} игрока</legend>
                <p>
                    <label for="player{{ player_id + 1 }}_name">
                        Имя<em>*:</em>
                    </label>
                    <input type="text" id="player{{ player_id + 1 }}_name" minlength="1" maxlength="20"
                           name="player{{ player_id + 1 }}_name" required>
                </p>
                <span class="form_hint_uncorrect">Некорректный формат имени</span>
            </fieldset>
        </div>
        {% endfor %}
    </div>
    <p>
        <button id="create-match" class="btn" type="submit">Создать матч</button>
        <button id="clear_form" class="btn" type="reset">Очистить форму</button>
    </p>
</form>
{% endblock %}