{%- macro display_first_five_pages() %}
    {% for i in range(5) %}
        <a href="?page={{ i + 1 }}" {% if i + 1 == data['current_page'] %}class="active"{% endif %}>
            {{ i + 1 }}
        </a>
    {% endfor %}
    <a> .. </a>
    <a href="?page={{ data['total_pages'] }}" {% if data['total_pages'] == data['current_page'] %}class="active"{% endif %}>
        {{ data['total_pages'] }}
    </a>
{%- endmacro -%}

{%- macro display_last_five_pages() %}
    <a href="?page=1" {% if 1 == data['current_page'] %}class="active"{% endif %}>1</a>
    <a> .. </a>
    {% for i in range(data['total_pages'] - 5, data['total_pages']) %}
        <a href="?page={{ i + 1 }}" {% if i + 1 == data['current_page'] %}class="active"{% endif %}>
            {{ i + 1 }}
        </a>
    {% endfor %}
{%- endmacro -%}

{%- macro display_middle_pages() %}
    <a href="?page=1" {% if 1 == data['current_page'] %}class="active"{% endif %}>1</a>
    <a> .. </a>
    {% for i in range(data['current_page'] - 3, data['current_page'] + 2) %}
        <a href="?page={{ i + 1 }}" {% if i + 1 == data['current_page'] %}class="active"{% endif %}>{{ i + 1 }}</a>
    {% endfor %}
    <a> .. </a>
    <a href="?page={{ data['total_pages'] }}" {% if data['total_pages'] == data['current_page'] %}class="active"{% endif %}>
        {{ data['total_pages'] }}
    </a>
{%- endmacro -%}

{%- macro get_num_paginate() -%}
    {% if data['total_pages'] <= 10 %}
        {% for i in range(data['total_pages']) %}
            <a href="?page={{ i + 1 }}" {% if i + 1 == data['current_page'] %}class="active"{% endif %}>{{ i + 1 }}</a>
        {% endfor %}
    {% else %}
        {% if data['current_page'] <= 5 %}
            {{ display_first_five_pages() }}
        {% elif data['current_page'] >= data['total_pages'] - 4 %}
            {{ display_last_five_pages() }}
        {% else %}
            {{ display_middle_pages() }}
        {% endif %}
    {% endif %}
{%- endmacro -%}

{%- macro create_pagination(pagination) -%}
    {% if data['current_page'] > 1 %}
        <a href="?page={{ data['current_page'] - 1 }}">«</a>
    {% endif %}

    {{ get_num_paginate() }}

    {% if data['current_page'] < data['total_pages'] %}
        <a href="?page={{ data['current_page'] + 1 }}">»</a>
    {% endif %}
{%- endmacro -%}


<div class="pagination">
{{ create_pagination() }}
</div>