<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="stylesheet" media="screen" href="static/styles/styles.css">
    {% block styles %}{% endblock %}
    <meta name="viewport" content="width=device-width">
</head>
<body>

{% include "includes/header.html" %}

<div class="main_container center-screen">
    {% block content %}{% endblock %}
</div>

</body>
</html>
